.home_page {
    p {
        color: #112211;
        opacity: 0.7;
    }

    .container {
        max-width: 1200px;
    }

    .squircle-img {
        width: 90px;
        height: 90px;
        overflow: hidden;
        display: flex;
        border-radius: 8px;
    }

    .squircle-img-lg {
        width: 150px;
        height: 150px;
    }

    .card {
        border-radius: 16px;
    }

    .review-img {
        width: 100%;
        height: 200px;
        overflow: hidden;
        display: flex;
        border-radius: 8px;
    }

    .custom-button {
        background-color: #8DD3BB;
        border-color: #8DD3BB;
        color: #ffffff;
        /* Màu chữ ban đầu */
        // width: 100%;

        &:hover {
            background-color: darken(#8DD3BB, 10%) !important;
            border-color: darken(#8DD3BB, 10%) !important;
            color: #ffffff !important;
            /* Giữ màu chữ không thay đổi khi hover */
        }
    }

    .card-review,
    .card-review * {
        top: 0;
        left: 0;
        position: relative;
        z-index: 100;
        background: white;
        border-radius: 18px;
    }

    .card-review::after {
        content: "";
        position: absolute;
        border-radius: 28px;
        top: 15px;
        left: 15px;
        width: 100%;
        height: 100%;
        background: #CDEAE1;
        z-index: 1;
    }

    footer {
        background-color: #8DD3BB;
        width: 100%;
        height: 100%;
        margin: 0;
        margin-top: 400px;
        padding-top: 200px;
        position: relative;

        .newsletter {
            border-radius: 20px;
            position: absolute;
            top: -175px;
            left: 100px;
            z-index: 20;
            background: #CDEAE1;
            padding: 30px;
            width: calc(100% - 200px);
        }
    }

    .footer-content {
        padding: 50px 100px;
    }

    .p-nm p {
        margin: 5px 0px;
    }
}

@media screen and (max-width: 768px) {
    .home_page {
        .custom-button {
            white-space: break-spaces;
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .section-header-custom {
            h2 {
                max-width: 80%;
            }
        }
    }
}