/* Admin.css */
.admin-container {
    display: flex;
}

.sidebar {
    width: 200px;
    padding: 20px;
    border-right: 1px solid #ccc;
    background-color: #f8f9fa;
    height: 100vh;
}

.sidebar-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-decoration: none;
    color: #000;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.sidebar-button:hover {
    background-color: #e9ecef;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.admin-content {
    flex-grow: 1;
    padding: 20px;
}
